*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;

}
.header {
    padding: 25px 0;
    background-color: #1d2126;
    position: sticky;
    top: 0;
    z-index: 1;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}  
.row {
    margin-left: -15px;
    margin-right: -15px; 
    display:flex;
    flex-wrap: wrap;
}
[class*="col-"] {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-md-7 {
   flex: 0 0 58.333333%;
   max-width: 58.333333%;
}
.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-md-12 {
   flex: 0 0 100%;
   max-width: 100%;
}

.Logo {
   margin-top: 5px;
}
nav {
    margin: 0 auto;
    display: flex;
}
.menu  {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.menu li {
    margin-right: 15px;
    
}    
.menu li:last-child {
    margin-left: 0px;
}
.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #a4aead;
    padding: 8px 10px;
    border: 1px solid transparent;
}
.menu li:hover a {
    border-radius: 6px;
    border: 1px solid #39a493;
    color: #39a493;
}
.search {
    position: relative;
}
.text {
    max-width: 195px;
    width: 100%;
    height: 30px;
    border: 1px solid #a4aead ;
    border-radius: 3px;
    background-color: #1d2126;
}
.text::-webkit-input-placeholder { 
    font-size: 14px;
    color: #a4aead;
    padding-left: 10px;
}
.loupe {
    background-image: url(image/loupe.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 9px;
    right: 18px;
}
.banner {
background-image: url(image/banner.png);
background-size: cover;
background-repeat: no-repeat;
}
.banner-box {
    margin: 220px 0px;
}
.title {
   font-family: 'Quattrocento Sans', sans-serif;
   font-size: 36px; 
   color: white;
}
.title-banner {
    margin-bottom: 25px;
}
.description {
    color: #a4a5a8;
    font-size: 16px;
    line-height: 26px;
     margin-bottom: 40px;
}
.button-view {
     font-size: 14px; 
     width: 125px;
     height: 45px;
     color:white;
     background: transparent;
     border: 1px solid #ffff ;
     border-radius: 3px;
     margin-right: 10px;
     cursor: pointer;
}
.button-view:hover {
    background: #23b7a4;
    border: none;
}
.team {
    border-top: 1px solid #e1e6ea;
}
.title-black {
   font-family: 'Quattrocento Sans', sans-serif;
   font-size: 36px; 
   font-weight: bold;
   border-left: 10px solid #e1e6ea;
   padding-left: 15px;
   margin-top: 80px;
   margin-bottom: 60px;
}
.title-modest {
   font-family: 'Quattrocento Sans', sans-serif;
   color: #62666c;
   font-size: 18px; 
   font-weight: bold;
   margin-bottom: 20px;
}

.cub {
    width: 50px;
    height: 50px;
    background: #23b7a4;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    padding: 15px;
    margin-right: 20px;
}

.features {
    display: flex;
}
.icon {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    margin-right: 1px;
    background-position: center;
}
.member .icon {
    background-color: #3a454d;
}
 .social-network-item {
     display: flex;
     margin-top: 15px;
 }
.facebook {
    background-image: url(image/facebook.png);
}
.twitter {
    background-image: url(image/twitter.png);
}
.google {
    background-image: url(image/g.png);
}
.earth {
    background-image: url(image/earth.png);
}
.be {
    background-image: url(image/Be.png);
}
.linkedin {
    background-image: url(image/in.png);
}
.photo {
    position: relative;
}
.name {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    color: #5a6066;
    margin-bottom: 10px;
}
.position {
    font-size: 16px;
    color: #989b9e;
    font-weight: 500;
}
.member-description {
    padding: 20px 20px;
    background-color: #e1e6ea;  
}
.social-network {
  position: absolute;
  top: 106px;
  right: 38px;
}
.network {
     display: none; 
}
.member:hover .photo img {
    opacity: 0.4;
}
.member:hover .member-description {
   background-color: #3a454d;
}
.member:hover .name {
    color: #989b9e;
}
.member:hover .network {
    display: flex;
}

.member:hover .social-network .icon:hover {
    background-color:#4e5a62;
   cursor: pointer;
}








@media(max-width:768px) {
    .container {
        max-width: 720px;
    }
   .row {
      display: block;
  }
    nav {
    overflow-x: scroll;
    padding: 20px 0px;
}
.col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    margin: 10px;
}
    .banner-box {
    margin: 50px 0px;
}
.title-black {
    margin-bottom: 20px;
}
}























/*
@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
}
@media(min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}*/